.tabla-evidencias {
border-radius: 20px;
 overflow: hidden;
 
 }
 
 .tabla-evidencias{
 
    background: linear-gradient(
       90deg,
       #2563eb,
       #1e3a8a
    );
 
    color: white;
    border-radius: 20px;
 
 }
 
 .tabla-evidencias td {
 
    vertical-align: middle;
 
 }
 
 .estado {
 
    padding: 6px 14px;
 
    border-radius: 20px;
 
    font-size: 13px;
 
    font-weight: bold;
 
 }
 
 .estado-pendiente {
 
    background: #facc15;
    color: #1e293b;
 
 }
 
 .estado-enviada {
 
    background: #22c55e;
    color: white;
 
 }
 
 .estado-vencida {
 
    background: #ef4444;
    color: white;
 
 }
 .btn-acciones{
    display: flex !important;
    gap:4px !important;
 }